/* Checkout section */

button {
  display: block;
  margin-left: auto;
}

h2 {
  text-align: center;
  margin-top: 70px;
}

h3 {
  display: inline-block;
  margin-left: 116px;
}

h4 {
  display: inline-block;
  font: 20px sans-serif;
  margin: 0 50px;
}

main {
  width: 1200px;
  margin: auto;
}

main p {
  display: inline;
  margin-left: 20px;
  text-align: right;
}

.cart-item-container {
  margin: auto;
  padding: 40px 0 20px 0;
  width: 1150px;
  border-bottom: 1px solid black;
}

.cart-item-container img {
  margin-bottom: 35px;
  vertical-align: middle;
  width: 180px;
}

.item-price {
  margin-left: 80px;
}

.item-remove {
  display: inline-block;
  margin-right: 30px;
}

.other-flavor-select {
  margin-left: 50px;
}

.package-select {
  
  margin-right: 70px;
  display: inline-block;
}

#cart-headings {
  padding-left: 330px;
  border-bottom: 1px solid black;
}

#cart-headings:last-child {
  margin: none;
}

#checkout {
  margin-left: 980px;
}

#total-header {
  margin-left: 940px;
}

#total-price {
  font-size: 14pt;
  margin-left: 55px;
}